@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  /* text */
  --text-dark: rgba(48, 48, 48, 1);
  --text-light: rgba(255, 255, 255, 1);
  --text-grey: rgba(105, 105, 105, 1);

  /* button */
  --btn-color: #FE6A35;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  background: linear-gradient(180deg, #BFDCFD 0%, #FDFCFF 36.39%, #EBEEF2 64.62%, #CCE0FE 100%); border-radius: 0px;;
}

hr {
  width: 100%;
  height: 1px;
  color: rgba(147, 147, 148, 1);
  opacity: 0.3;
}

.p-panelmenu-panel {
  border: none !important;
  background: none !important;
  padding: 0 !important;
}

.p-message-error {
  border: none !important;
}

.p-inputtext {
  border: none !important;
  background: rgba(238, 237, 240, 1) !important;
  border-radius: 18px !important;
}

.p-password:has(.p-password-toggle-mask-icon) .p-password-input {
  width: 189px !important;
}

.p-panelmenu {
  margin-bottom: 20px;
  gap: 5px !important;
}

.p-message-text {
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 140% !important;
}

.p-message-content {
  justify-content: center;
}

.p-panelmenu-header:not(.p-disabled) .p-panelmenu-header-content:hover {
  background: none !important;
}

.p-panelmenu-item:not(.p-disabled)>.p-panelmenu-item-content {
  background: none !important;
}

.p-panelmenu-item-content {
  height: 30px;
}

.p-panelmenu-item-content>.navbar__item:hover::before {
  content: url(/image/vector_right.svg);
  margin-right: 8px;
}

.p-panelmenu-item-content>.navbar__item {
  display: flex;
  justify-content: flex-start !important;
  gap: 10px;
  opacity: 50%;
}

.p-focus {
color: var(--text-dark) !important;
}

.p-panelmenu-item-content>.navbar__item:hover {
  opacity: 100%;
}

.p-panelmenu-item-content .p-panelmenu-item-link {
  color: var(--text-dark);
}



.p-panelmenu-submenu:last-child {
  margin-bottom: 25px;
}

.p-panelmenu-item-link {
  background: none !important;
}

@media (max-width: 768px) {}