@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  /* text */
  --text-dark: rgba(48, 48, 48, 1);
  --text-light:rgba(255, 255, 255, 1);
  --text-grey:rgba(105, 105, 105, 1);

  /* button */
  --btn-color: #FE6A35;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
}

hr {
  width: 100%;
  height: 1px;
  color: rgba(147, 147, 148, 1);
  opacity: 0.3;
}

.p-panelmenu-panel, .p-message-error {
  border: none !important;
  background: none !important;
  padding: 0 !important;
}

.p-inputtext {
border: none !important;
background: rgba(238, 237, 240, 1) !important;
border-radius: 18px !important;
}

.p-password:has(.p-password-toggle-mask-icon) .p-password-input {
  width: 189px !important;
}

@media (max-width: 768px) {

}

